.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    height: 100%;
    overflow: auto;
    border: 1px solid #D7DBEA;
     border-radius: 20px;
  }

  .left{
    box-shadow: 5px 0 5px 5px #BCC3DC;
  }

  .home-p {
      width: 100px;
    position: relative;
    display: inline-block;
    color: black;
    padding: 25px 30px;
    text-decoration: none;
    margin: 30px 15px;
    color: #03e9f4;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 3px;
    cursor: pointer;
    filter: hue-rotate(deg);
  }

  .home-p:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

  .resume-p{
    width: 100px;
    position: relative;
    display: inline-block;
    color: black;
    padding: 25px 30px;
    text-decoration: none;
    margin: 30px 15px;
    color: #03e9f4;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 3px;
    cursor: pointer;
    filter: hue-rotate(290deg);
  }

  .resume-p:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

.work-p{
  width: 100px;
    position: relative;
    display: inline-block;
    color: black;
    padding: 25px 30px;
    text-decoration: none;
    margin: 30px 15px;
    color: #03e9f4;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 3px;
    cursor: pointer;
    filter: hue-rotate(110deg);
}

.work-p:hover{
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
}

.about-p{
  width: 100px;
    position: relative;
    display: inline-block;
    color: black;
    padding: 25px 30px;
    text-decoration: none;
    margin: 30px 15px;
    color: #03e9f4;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 3px;
    cursor: pointer;
    filter: hue-rotate(190deg);
}

.about-p:hover{
  background: sandybrown;
  color: #050801;
  box-shadow: 0 0 5px  sandybrown,
              0 0 25px sandybrown,
              0 0 50px  sandybrown,
              0 0 200px  sandybrown;
}

@media only screen and (max-width: 1440px){
  .mobile-header{
    display: none;
  }
}


@media only screen and (max-width: 768px){
  .sidebar{
    display: none;
  }

  .mobile-header{
    display: block;
    height: 100px;
    border-bottom: 1px solid black;
  }

  .burger-button{
    width: 50px;
    margin: 20px;
    cursor: pointer;
  }

  .dropdown{ 
    width: 35px;
    height: 35px;
    border-radius: 3em;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.Dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 50px;
  margin-left: -5%;
}

.Dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}


.Dropdown-content a:active {
  display: flex;
  background-color: pink;
  box-shadow: purple;
  }


  .Dropdown:active{
      display: inline-block;
     }

    

.Menu-container{
  display: flex;
  /* font-family: cursive; */
  font-size: 17px;
  /* font-weight: bold; */
  
}

.Menu-container:active .Dropdown-content{
  display: block;
}

}

@media only screen and (max-width: 414px){
  .dropdown .burger-button{
    width: 40px;
  }
} 

@media only screen and (max-width: 375px){
  .dropdown .burger-button{
    width: 35px;
  }

  .mobile-header{
    height: 80px;
  }
}


