.homepage-content{
    display: flex;
}

.info-content{
    width: 300px;
    height: 150px;
    margin-left: 31%;
    border-radius: 10px;
    margin-top: 140px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
}

.dot-1{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #06D6A0;
    position: absolute;
    margin-top: 300px;
    margin-left: 350px;
}

.dot-2{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    margin-top: 300px;
    margin-left: 400px;
    background-color:#F9B9B7;
}

.dot-3{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    margin-top: 300px;
    margin-left: 450px;
    background-color: #FFBF46;
}

.dot-4{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    margin-top: 300px;
    margin-left: 500px;
    background-color: #9FD8CB;
}

.dot-5{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    margin-top: 300px;
    margin-left: 550px;
    background-color: #8C7A6B;
}

.dot-6{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    margin-top: 300px;
    margin-left: 600px;
    background-color: #B4436C;
}

.dot-7{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    margin-top: 300px;
    margin-left: 650px;
    background-color: #8B94A3;
}

.dot-8{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    margin-top: 300px;
    margin-left: 700px;
    background-color: #D9594C;
}


.box{
    position: absolute;
    width: 300px;
    height: 470px;
    margin-top: 70px;
    margin-left: 65%;
    transition: 0.5s;
}

.box .imgBox{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%; 
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.box .imgBox .My-Pic{
    max-width: 100%;
    border-radius: 200px;
    border: 1px solid #D7DBEA;
    box-shadow: 5px 0 5px 5px #BCC3DC;
}

.facebook{
    margin-top: 400px;
    position: fixed;
    margin-left: 480px;
}

.fb-logo{
    width: 25px;
    cursor: pointer;
}

.instagram{
    margin-top: 400px;
    position: fixed;
    margin-left: 530px;
}

.insta-logo{
    width: 25px;
    cursor: pointer;
}

.linkedin{
    margin-top: 400px;
    position: fixed;
    margin-left: 580px;
}

.in-logo{
    width: 25px;
   cursor: pointer;
}

@media only screen and (max-width: 1440px){
 .dot-1{
     margin-left: -350px;
 }
 .dot-2{
    margin-left: -300px;
 }

.dot-3{
    margin-left: -250px;
}
.dot-4{
    margin-left: -200px;
}
.dot-5{
    margin-left: -150px;
}
.dot-6{
    margin-left: -100px;
}
.dot-7{
    margin-left: -50px;
}
.dot-8{
    margin-left: 0px;
}
}

@media only screen and (max-width: 1024px){
    .box{
        position: absolute;
        margin-top: 50%;
        margin-left: 450px;
    }

.info-content h3{
    margin-left: 100px;
    width: 300px;
}

    .info-content h4{
        margin-left: 100px;
        width: 300px;
    }
}

@media only screen and (max-width: 768px){
  .box{
    position: fixed;
    display: flex;
    margin-left: 32%;
    margin-top: 65%;
    width: 250px;
  }

  .info-content{
      margin-left: 32%;
      margin-top: 15%;
  }

  .dot-1{
      display: none;
  }

  .dot-2{
    display: none;
  }

  .dot-3{
    display: none;
  }

  .dot-4{
    display: none;
  }

  .dot-5{
    display: none;
  }

  .dot-6{
    display: none;
  }

  .dot-7{
    display: none;
}

.dot-8{
    display: none;
}

.facebook{
    margin-left: 35%;
}

.instagram{
    margin-left: 45%;
}

.linkedin{
    margin-left: 55%;
}

}

@media only screen and (max-width: 414px){
   .dot-1,
   .dot-2,
   .dot-3,
   .dot-4,
   .dot-5,
   .dot-6,
   .dot-7,
   .dot-8{
       display: none;
   }

   .info-content{
       margin-left: 70px;
   }

   .box{
       margin-left: 110px;
       margin-top: 210px;
       width: 190px;
   }

   .facebook,
   .instagram,
   .linkedin{
       margin-top: 530px;
   }
}

@media only screen and (max-width: 375px){
    .info-content{
        margin-left: 60px;
    }

    .box{
        margin-left: 100px;
        margin-top: 200px;
        width: 180px;
    }

    .facebook,
   .instagram,
   .linkedin{
       margin-top: 500px;
   }
}

